.row.yellow div div {
    background-color: yellow;
    height: 35px;
    margin-bottom: 20px;
}
.row.blue div div {
    background-color: blue;
    height: 35px;
    margin-bottom: 20px;
}
.row.red div div {
    background-color: red;
    height: 35px;
    margin-bottom: 20px;
}