.row.red div div {
    height:35px;
    background-color: red;
}
.row.blue div div {
    height:35px;
    background-color: blue;

}
.row.yellow div div {
    height:35px;
    background-color: yellow;

}
.row.pink div div {
    height:35px;
    background-color: pink;

}
.row.grey div div {
    height:35px;
    background-color: grey;

}
.row.green div div {
    height:35px;
    background-color: green;

}
.row.violet div div {
    height:35px;
    background-color: violet;

}
.row.black div div {
    height:35px;
    background-color: black;

}
